<extend name="./Application/Admin/View/Layout.html" />
<block name="head">
  <script src="__JS__/layer/layer.js"></script>
  <style>
    *{
      padding: 0px;
      margin: 0px;
      list-style: none;
    }
    #a{
      text-decoration: none;
    }
    h3{
      color:#337ab7;
      display: inline-block;
      margin:0;
    }
    td{
      text-align: center;
    }
    .product_list_top{
      border-bottom: #CBE9F3 1px solid;
      padding: 15px;

    }
    .containerw{
      margin-top: 25px;
    }
    .product-list_data{
      margin-top: 25px;
    }
    .table th{
      background: #BBDDE5;
      text-align: center;
    }
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border: 1px solid #ccc;
    }
    #rightBox{
      padding:0 10px;
    }
    .product_list_bottom{
      width: 100%;
      height:50px;
      /*margin-top:10px ;*/
      float:left;
      /*background-color: red;*/
    }
    .product_list_left{
      width:150px;
      height:50px;
      float:left;
      text-align: right;
    }
    .product_list_mid{
      width:80%;
      height:50px;
      float:left;
      text-align: center;
    }
    .product_list_right{
      width:120px;
      height:50px;
      float:left;
    }
    .form-inline{
      float: right;
      margin-bottom: 10px;
    }
    #delete{
      color:red;
    }
    #usings{
      color:green;
    }
    #forbidden{
      color:red;
    }
    #check{
      margin: 0px 5px;
    }
    #checkedAll{
      margin: 0px 5px;
    }
    .addchildboard{
      color: #FFFFFF;
      line-height: 25px;
      margin-left: 10px;
      padding-left: 20px;
      background:url(__IMG__/backgrounds/addchildboard.png) no-repeat;
    }

  </style>
</block>>
<block name="content">
  <div class="containerw">
    <lable><h3>城市管理</h3></lable>


    <div class="product-list_data">
      <form action="" method="post" id="form" name="form">
        <div data-example-id="striped-table" class="bs-example">

          <table class="table table-bordered table-hover">
            <thead>
            <tr class="info">
              <th><input type="checkbox" name="checkedAll" id="checkedAll">编号</th>
              <th>城市名字</th>
              <th>上级城市</th>
              <th>下级区域总数</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data" id="v">
              <tr id="tr<{$v.id}>">
                <td scope="row"><input id="check" type="checkbox" name="checkboxes[]" value="<{$v.id}>"><{$v.id}></td>
                <td><{$v.name}>
                  <a class="addchildboard"
                     href="<{:U('adddistrict',array('id'=>$v['id']))}>"> 添加下级区域
                  </a>
                </td>
                <if condition="$v.pid eq 0">
                  <td>无</td>
                  <else/>
                  <td><{$v.pname}></td>
                </if>

                <td>
                  <if condition="$v.ptot eq 0">
                    <{$v.ptot}>
                    <else />
                    <a href="<{:U('listdistricts',array('id'=>$v['id']))}>">共<{$v.ptot}>个下级</a>
                  </if>
                </td>
                <td align="center">
                  <a href="<{:U('editdistrict',array('id'=>$v['id']))}>" class="__edit__">&nbsp修改</a>　
                  <span onclick="del(this,<{$v.id}>)"><a href="javascript:void()" class="__delete__">&nbsp删除</a></span>
                </td>


              </tr>
            </volist>
            </tbody>
          </table>
        </div>

      </form>



      <div class="product_list_bottom">
        <div class="product_list_left">
          <a href="javascript:history.go(-1)"><button class="btn btn-primary">返回上级</button></a>
          <button type="button" disabled="true" class="button btn btn-sm" onclick="dels()">删除</button>
        </div>
        <div class="product_list_mid"><{$show}></div>
        <div class="product_list_right">

        </div>
      </div>
    </div>
  </div>

</block>
<block name="foot">
  <script>
    $(function () {
      //底部按钮可执行操作
      $("input[type='checkbox']").click(function () {

        if ($("input[type='checkbox']").is(':checked')) {
          $('.button').addClass('btn-danger');
          $('.button').attr('disabled', false);
          ;
        } else {
          $('.button').removeClass('btn-danger');
          $('.button').attr('disabled', true);
        }

      });
      //全选
      $("#checkedAll").click(function () {

        if ($(this).prop("checked")) { // 全选
          $("input[type='checkbox']").prop("checked", true);
        }
        else { // 取消全选
          $("input[type='checkbox']").prop("checked", false);
          $('.button').removeClass('btn-danger');
          $('.button').attr('disabled',true);

        }
      });

    });

    //删除
    function del(obj,id){
      layer.confirm('确认删除？', {
        btn: ['确定','取消'] //按钮
      }, function(){
        $.get('__CONTROLLER__/Ajax_districtdel',{'id':id},function(data){
          if(data){
            layer.msg('删除成功', {icon: 1});
          }else{
            layer.msg('删除失败', {icon: 2});
          }

        });
        window.location.reload();
      }, function(){

      });

    }


    //底部操作-删除
    function dels(){

      layer.confirm('确认删除？', {
        btn: ['确定','取消'] //按钮
      }, function(){
        var arr=[];
        var str='';
        $('input[type=checkbox]:checked').each(function(){
          arr[arr.length]=$(this).val();
          str+=$(this).val()+',';
        });

        $.get('__CONTROLLER__/Ajax_districtdelAll',{'str':str},function(data){

          if(data==arr.length){
            layer.msg('删除成功', {icon: 1});
          }else{
            layer.msg('删除失败', {icon: 2});
          }
        });
        window.location.reload();
      }, function(){

      });

    }
  </script>
</block>